Import Required Libraries

In [186]:
import pandas as pd
pd.set_option('display.max_rows',None)

Read wikipedia page

In [187]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data=pd.read_html(url,skiprows=1)

Add Headers

In [188]:
data=data[0]
data.columns=['PostCode','Borough','Neighbourhood']
data.head()

  PostCode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Ignore Borough that is "Not assigned"

In [189]:
data=data[data['Borough']!='Not assigned']
data.head(10)

   PostCode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Merging Neighborhood Data

In [194]:
data=data.groupby(['PostCode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
data.head(10)

  PostCode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

Checking Neighbourhood with "Not assigned" value

In [195]:
na_neighbourhoods=data[data['Neighbourhood']=='Not assigned']
na_neighbourhoods

   PostCode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

Replace Neighbourhood value with Borough value

In [196]:
data['Neighbourhood']=data['Neighbourhood'].replace(['Not assigned'],'Queens Park')

In [197]:
data[data['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [PostCode, Borough, Neighbourhood]
Index: []

In [199]:
data.shape

(103, 3)